@panel-bg-color: #343434;
@panel-height: 40px;

@side-panel-bg-color: rgba(0, 0, 0, 0.75);
@slider-bg-color: #808080;
@scrollbar-thumb-color: #6e6e6e;

@gray: #9a9a9a;

// Side colors
@blufor-color: #00a8ff;
@opfor-color: #ff0000;
@ind-color: #00cc00;
@civ-color: #c900ff;

@orange: rgba(205, 134, 20, 0.9);
@orange-dark: rgba(182, 118, 17, 0.9);
@transition-duration: .3s;

@primary-text-color: #f2f2f2;